.pw__info{
        
    margin:0 auto;
    width: 75%;
    margin-top: 6%;
    border:1px solid #B0B0B0;
    border-radius: 8px;
    height: 272px;
    padding: 0;
    div{
        height: 25%;
        &:nth-child(1){
            border-bottom: 1px solid #B0B0B0;
        }
        &:nth-child(2){
            border-bottom: 1px solid #B0B0B0;
        }
        &:nth-child(3){
            border-bottom: 1px solid #B0B0B0;
        }
    }
    label{
        margin-left:3%;
        padding:0;
        height:15px;
        line-height: 20px;
        color:rgb(113, 113, 113);
        margin-bottom: 0;
        &:nth-child(2){
            display: none;
        }
    }
    input{
        line-height: 30px;
        border: 1px solid transparent;  //自定义边框
        outline: none;
        width: 95%;
        margin-left: 2%;
        margin-top:0;
        padding:0;
        font-size: 20px;
        
    }
    i{
        position: absolute;
        font-size: 35px;
        margin-top:-15px;
        margin-left: -40px;
        color:#717171;
    }
    li{
        position: absolute;
        list-style-type:none;
        color:#E51E56;
        margin-top: -16px;
        margin-left: 3px;

    }
    

}