.home{
    overflow-y: hidden;
    
}

.menu{
    width: 20rem;
    float: left;
    height: 100%;
    position:fixed;
}

.content{
    
    position: relative;
    margin-left: 20rem;
    background-color:#F3F7F6 ;
    height: 100%;
    overflow-y: hidden;

}
.classic{
    background:#7B8173;
    height:'100%';
    position:'fixed';
}
.dark{
    background:#455672;
    color:#fff;
    height:'100%';
    position:'fixed';
}
.light{
    background:#D1E8E4;
    height:'100%';
    position:'fixed';
}
.purple{
    background:#CAC9E0;
    color:#fff;
    height:'100%';
    position:'fixed';
}
.otherColor{
    background:#7B8173;
    color:#fff;
    height:'100%';
    position:'fixed';
}
@media screen and (max-width: 500px){
    .menu{
        display: none;
    }
    .content{
        width:100%;
        margin-left: 0;
    }
}