.dashboard{
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    width:100%;
    
    &-top{      
        display: grid;
        // justify-items: center;
        grid-row-gap:0rem;
        grid-column-gap:0rem;
        grid-column: 1;
        grid-template-columns: auto auto auto auto;
        position: relative;
        height: 8rem;
        width: 100%;
        margin-top:-0.5rem;
        padding-bottom: 3rem;
        li{
            list-style: none;
            position: relative;
            width: 25%;
            float:left;
        }
    }
    &-mid{
        display: flex;
    }
    &-event{
        // float: left;
        width: 60%;
    }
    &-piechart{
        // float: left;
        width: 30%;
        margin-left: 8%;
        margin-right: 0.9rem;
    }
    &-headTable{
        width: 63%;      
        margin-left: 2rem;
        
    }
    &-googleMap{
        width:30%;
        float:right;
        
        margin-right: 1.5rem;
    }

}
@media screen and (max-width: 1400px){
    .dashboard{
        &-mid{
            display: block;
            
        }
        &-event{
            // float: left;
            width: 85%;
            margin-left: 7%;
            
        }
        &-piechart{
            // float: left;
            width: 88%;
            margin-left: 7%;
            margin-top:1.5rem;
            // margin-right: 0.9rem;
        }
        &-headTable{
            width: 88%;      
            margin-left: 7%;
            margin-top:4rem;
            
        }
        &-googleMap{
            margin-top:4rem;
            width:88%;
            float:none;
            margin-left: 7%;
             margin-right: 1.5rem;
        }
    }
}
@media screen and (max-width: 1200px){
    .dashboard-top{
        grid-template-columns: auto auto;
        margin-left:2%;
        height: 18rem;
    }
}
@media screen and (max-width: 1000px){
    .dashboard-top{
        grid-template-columns: auto;
        margin-left:2%;
        height: 37.5rem;
        margin: auto;
    }
}
@media screen and (max-width: 500px){
}