.profile{
    &-header{
        
        line-height: 1.6;
        font-size: 1.8rem;
        // color:#fff;
        color: #495057;
        font-weight: 600;
        border-bottom: 1px solid #ebecec;
        h1{
            text-align: center;
            line-height: 1;
            font-size: 2.4rem;
            
        }
        span{
            float: right;
            margin-top:-5rem;
        }
    }
    &-content{
        width:100%;
        li{
            list-style: none;
            width:100%;
            div{
                margin-left: 30%;
                border-radius:1rem;
                width:7rem;
                height:7rem;
                img{
                    border-radius:1rem;
                    width:100%;
                }
            }
            &:nth-child(2){
                margin-top: 2rem;
            }
            line-height: 2rem;
            font-size: 1.3rem;
            span{
                color:#000;
                float: right;
                width: 70%;
            }
        }
        
    }
}